# Ignore all files in the data folder
data_local/
!src/data/
src/scripts/
src/models/stamnet.py 

# Ignore common large files and cache files
*.log
*.h5
*.nc
*.pkl
*.npy
*.tar
*.zip
*.gz
*.7z
*.sh
*.err
*.out

# Ignore Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Output directories
outputs/
results/
multirun/
sanity_checks/
