name: convgru
instance:
  _target_: src.models.convgru.ConvGRU_Seg
  num_classes: ${dataset.num_classes}
  img_res: ${dataset.img_size}
  in_channels: ${dataset.num_channels}
  kernel_size: [3,3]
  hidden_dim: 180
  pad_value: 0