name: utae
instance:
  _target_: src.models.utae.UTAE
  in_channels: ${dataset.num_channels}
  num_classes: ${dataset.num_classes}
  encoder_widths: [64, 64, 64, 128]
  decoder_widths: [32, 32, 64, 128]
  str_conv_k: 4
  str_conv_s: 2
  str_conv_p: 1
  agg_mode: att_group
  encoder_norm: group
  n_head: 16
  d_model: 256
  d_k: 4
  encoder: false
  return_maps: false
  pad_value: 0
  padding_mode: reflect