# configs/config.yaml
defaults:
  - _self_
  - dataset: sen12ls_s2
  - datamodule: sen12ls
  - model: unet3d
  - lit_module: binary
  - trainer: ddp
  - logger: wandb 
  - callbacks: default

exp_tag: LD-Benchmark # Experiment tag for logging/saving
root_dir: path/to/Sen12Landslides

sanity_check: false

seed: 777

hydra:
  run:
    dir: ${root_dir}/outputs/run/${model.name}_${dataset.name}_${exp_tag}_${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ${root_dir}/outputs/multirun
    subdir: ${model.name}_${dataset.name}_${exp_tag}_${now:%Y-%m-%d_%H-%M-%S}
  job:
    chdir: false

ckpt_path: null  # Path to a checkpoint for prediction/testing
preds_dir: null  # Directory to save predictions when running src/pipeline/predict.py